body {
    background-color: rgb(255, 255, 165);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.image{
    border: 5px solid rgba(164, 228, 164, 0.838);
    border-radius: 200px;
    height: 400px;
    align-self: center;
}

div {
    background-color: rgba(70, 83, 43, 0.237);
    margin-right: 870px;
}

.link-button {
    padding: .5em;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    border: .02em solid black;
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

img:hover{
    transform: scale(1.05);
    border: 2px solid rgb(138, 238, 245);
    animation: moverse both 3s;
}

@keyframes moverse {
    0%{
        margin-left: 10px;
    }
    50%{
        margin-left: 100px;
    }
    100%{
        margin-left: 10px;
    }
}